/remla
/.idea
/src/lib_version/__pycache__
.egg-info/

src/lib_version/_version.py
src/lib_ml.egg-info
src/lib_ml/_version.py

*.egg-info/
build/
dist/

__pycache__/
*.py[cod]
*$py.class
*.swp
.DS_Store